body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(170deg, #B621fe, #1fd1f9);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 1;
}

.signup-box {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #444444;
    margin: 20px 0 70px 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
}

.textboxtop {
    width: 90%;
    border-bottom: 1px solid #666666;
}

.textboxtop input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 0;
    color: #333333;
    font-weight: bold;
}

.textbox {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #666666;
    margin: 16px 0;
}

.textbox input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 0;
    color: #333333;
    font-weight: 600;
}

.button input {
    width: 90%;
    border-radius: 50px;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 40px 0;
    color: white;
    background-image: linear-gradient(150deg, #b621fe, #1fd1f9);
}

.button input:hover {
    background-image: linear-gradient(-150deg, #b621fe, #1fd1f9);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.alert{
    /* position: absolute; */
    top: 10%;
    right: -100%;
}

.alert-signup-success{
    background-color: #4da365;
    padding: 15px 20px 15px 15px;
    border-left: solid #fff 7px;
    display: flex;
    flex-direction: row;
    border-radius: 3px 0 0 3px;
    color: #092411;
    position: absolute;
    right: 100%;
    top: 2%;
}

    .alert-signup-success i{
        padding: 0 10px 0 0;
        font-size: 18px;
    }
    .alert-signup-success p{
        font-size: 17px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }


.alert-wrong-form{
    display: none;
}

.visible{
    visibility: visible;
}

.hidden{
    /* visibility: hidden; */

}
